/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--header-height: 103.63px;
	--orange: #f58220;
}
*{
	padding:0;
	margin:0;
}
@font-face {
	font-family: 'Operetta_Light';
	src: url('fonts/Operetta12-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Operetta_Medium';
	src: url('fonts/Operetta12-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato_Regular';
	src: url('fonts/Lato-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato_Semibold';
	src: url('fonts/Lato-Semibold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PointRegular';
	src: url('fonts/PointRegular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'PointSemiBold';
	src: url('fonts/PointSemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura_Bk_BT_Book';
	src: url('fonts/Futura-Bk-BT-Book.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body{
	height: 100%;
	font-family: 'Lato_Regular';
	font-size: clamp(14px, 1.25vw, 18px);
	background-color: #f1e5d7;

	line-height: 1.5;
    color: #0a0203;
}
#main{
	width:100%;
	padding:0;
	margin:0 auto;
	/*padding-top: var(--header-height);*/
}
table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
	font-family: 'Lato_Regular';
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	line-height: 1.5;
	color: #0a0203;
	padding: 0 0 15px 0;
	font-family: 'Lato_Regular';

}

/* #Grid system
================================================== */
.container{
	width:1170px;
	margin:0 auto;
}
.contain_90{
	width: 90%;
	margin: 0 auto;
}
.contain_80{
	width: 80%;
	margin: 0 auto;
}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
}
.container:after, .row:after{
	clear:both;
}
.row{
	margin-left:-10px;
	margin-right:-10px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 2vw 0;
	/*background: #fff;*/
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
}
header .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header .logo {
	width: clamp(200px, 24%, 360px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0;
}
header nav {

}
header nav .ace-responsive-menu > li > a{
	font-family: 'Futura_Bk_BT_Book';
	color: #fff;
	text-transform: none;
	padding: 5px;
	margin: 0 1.5vw;
	font-size: clamp(14px, 1.5vw, 20px);
	font-weight: 300;
	line-height: 1;
}
header.smaller {
	top:0;
	background-color: transparent;
	background: #fff;
	padding: 0%;
}
header.smaller .logo {
	width: 120px;
}
header.smaller nav {
	
}

.heading{
	font-size: clamp(40px, 4vw, 80px);
	font-family: 'Operetta_Light';
	color: #fff;
	padding: 0 0 2vw;
	text-align: center;
}
.heading.orange{
	color: var(--orange);
}
.sub_heading{
	font-size: clamp(20px, 1.6vw, 32px);
	font-family: 'Operetta_Light';
	color: #fff;
	padding: 0 0 2vw;
	text-align: center;
}
.sub_heading.orange{
	color: var(--orange);
}
.center{
	text-align: center;
}

/*hero*/
.hero{
	position: relative;
}
.hero .text_overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero .text_overlay .inner_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 7vw 0 0 0;
}

.hero .text_overlay .inner_box p{
	color: #fff;
}
section{
	padding: 5vw 0;
	position: relative;
}
.section_link{
	position: absolute;
	top: calc(var(--header-height) * -1);
}
.coverflow_slider_wrapper .swiper-slide{
	width: 40vw;
	min-width: 700px;
	user-select: none;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: -20px;
}
.coverflow_slider_wrapper{
	padding: 3vw 0 0;
}

.section_2{
	overflow: hidden;
}

/*section_3*/
.section_3{
	min-height: 100vh;
}
.section_3{
	background-color: #0a0203;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_3 .text{
	padding: 5vw 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section_3 .text span {
	font-family: 'Operetta_Light';
	background: linear-gradient(
		to right,
		var(--orange) 50%,
		rgb(255, 255, 255) 50%
	);
	background-size: 200% 100%;
	background-position-x: 100%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	line-height: 1.2; 
	font-size: 12vmin;
}
.section_3 .text span:nth-child(odd){
	padding: 0 15vw 0 0;
}
.section_3 .text span:nth-child(even){
	padding: 0 0 0 15vw;
}
/*section_4*/
.section_4 .inner_container{
	text-align: center;
}
.section_4 .inner_container .text{
	padding: 0 0 2vw;
}

/*section_5*/
.section_5{
	/*height: 500px;*/
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
.section_5 .img_box{
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	height: 140%;
	background: url('../images/bg/our-journey.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	will-change: transform;
}
.section_5 .img_box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.section_5 .text_overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.section_5 .text_overlay .text{
	width: 1000px;
	max-width: 90%;
}
.section_5 .text_overlay .text p{
	color: #fff;
}
.section_6{
	text-align: center;
}
.section_6 .text{
	width: 1000px;
	max-width: 90%;
	margin: auto;
	padding: 0 0 3vw;
}
.section_6 .text p{
	padding: 0;
}
.section_6 .list_info{
	padding: 0 0 3vw;
}
.section_6 .list_info ul{
	display: flex;
	justify-content: space-between;
}
.section_6 .list_info ul li{
	line-height: 1.3;
}
.section_6 .list_info ul li.divider{
	width: 2px;
	background-color: var(--orange);
	margin: 0 1vw;
}

.three_img_swiper{
	overflow: hidden;
}
.three_img_swiper .images_boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.three_img_swiper .images_boxes .img_box{
	width: 32%;
	padding: 38% 0 0 0;
	position: relative;
}
.three_img_swiper .images_boxes .img_box img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.section_6 .text.text_2{
	padding: 4vw 0 3vw 0;
}
.section_6 .list_info.list_info_2 ul li{
	display: flex;
	flex-direction: column;
	font-size: clamp(13px, 1.2vw, 18px);
}
.section_6 .list_info.list_info_2 ul li .vertical_divider{
	width: 30%;
	height: 3px;
	margin: 10px auto;
	background-color: var(--orange);
}
.images_slider_wrapper_2{
	padding: 0 0 4vw;
}
.images_slider_wrapper_2 .three_img_swiper .images_boxes .img_box{
	width: 49%;
	padding: 32% 0 0 0;
	/*padding: 0 0;*/
}
.images_slider_wrapper_2 .three_img_swiper .images_boxes .img_box img{
	/*position: static;*/
}
.section_6 .list_info.list_info_3{
	padding: 0 0 1vw;
}
.section_6 .list_info.list_info_3 ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: clamp(13px, 1.2vw, 18px);
	margin: 0 -1.6vw;
}
.section_6 .list_info.list_info_3 ul li{
	width: 25%;
	padding: 0.5vw 0.8vw;
	position: relative;
	margin: 0 0 2vw;
}
.section_6 .list_info.list_info_3 ul li::after{
	position: absolute;
	content: '';
	right: 0;
	top: 0;
	width: 2px;
    height: 100%;
    background-color: var(--orange);
}
.section_6 .list_info.list_info_3 ul li:nth-child(4)::after{
	display: none;
}
.section_6 .list_info.list_info_3 ul li:nth-child(6)::after{
	display: none;
}

.section_6 .images_slider_wrapper_3{
	margin: 0 0 5vw;
}

.section_6 .text_3{
	padding: 0;
}


.width_65{
	width: 65%;
}
.width_55{
	width: 55%;
}
.width_45{
	width: 45%;
}
.width_35{
	width: 35%;
}
/*our_features*/
.our_features{
	padding: 0 0 0 10vw;
	background-color: var(--orange);
	color: #fff;
}
.our_features .inner_container{
	display: flex;
	flex-wrap: wrap;
}
.our_features .inner_container .width_65{
	margin: auto;
}
.our_features .inner_container .left_info{
	display: flex;
	flex-wrap: wrap;
	padding: 2vw 0;
}
.our_features .inner_container .left_info .txt_box{
	width: 50%;
	padding: 2% 5% 2% 0;
}
.our_features .inner_container .left_info .txt_box .sub_title{
	font-size: clamp(20px, 1.6vw, 32px);
    font-family: 'Operetta_Light';
    color: #fff;
    padding: 0 0 0.5vw;
    line-height: 1.1;
}
.our_features .inner_container .left_info .txt_box p{
	color: #fff;
	line-height: 1.6;
}
.our_features .inner_container .left_info .txt_box ul{
	margin: 0 0 0 18px;
}
.our_features .inner_container .left_info .txt_box ol{
	margin: 0 0 0 18px;
}
.our_features .inner_container .left_info .txt_box li{
	list-style: disc;
	font-size: clamp(13px, 1.1vw, 18px);
}
.our_features .inner_container .width_35{

}
.our_features .inner_container .width_35 .img_box{
	height: 100%;
	width: 100%;
}
.our_features .inner_container .width_35 .img_box img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*footer*/
footer{
	background: #0a0203;
	position: relative;
}
footer .inner_container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 5.5vw 0;
}
footer .inner_container .logo_box{
	width: 40%;
	padding: 0 8vw 0 3vw;
}
footer .inner_container .logo_box img{
	width: 100%;
}
footer .inner_container .title{
	font-weight: 600;
	color: var(--orange);
	font-size: clamp(18px, 1.2vw, 40px);
	padding: 0 0 0.2vw;
}
footer .inner_container .link_text a{
	color: #fff;
	font-size: clamp(15px, 1vw, 40px);
	font-weight: 500;
	padding: 0 0 0.2vw;
}
footer .inner_container .sub_title{
	color: #fff;
	font-size: clamp(15px, 1vw, 40px);
	font-weight: 500;
}
footer .inner_container .right_pane{
	width: 60%;
	display: flex;
	flex-direction: column;
}
footer .inner_container .right_pane .upper_sec{
	padding: 0 0 2vw;
	border-bottom: 1px solid #fff;
}
footer .inner_container .right_pane .lower_sec{
	display: flex;
	flex-wrap: wrap;
	padding: 2vw 0 0;
}
footer .inner_container .right_pane .lower_sec .info_box:first-child{
	border-right: 1px solid #fff;
}
footer .inner_container .right_pane .lower_sec .info_box:nth-child(2){
	padding: 0 0 0 2vw;
}
