/* Table of Content
==================================================
	#Homepage Styles
	#Page Styles
	#Media Queries
	#Font-Face */
:root{
	--header-height: 103.63px;
	--orange: #f58220;
}
*{
	padding:0;
	margin:0;
}
@font-face {
	font-family: 'Operetta_Light';
	src: url('fonts/Operetta12-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Operetta_Medium';
	src: url('fonts/Operetta12-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato_Regular';
	src: url('fonts/Lato-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(14px, 1.25vw, 18px);
	background-color: #f1e5d7;
}
#main{
	width:100%;
	padding:0;
	margin:0 auto;
	/*padding-top: var(--header-height);*/
}
table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	line-height: 1.5;
	color: #0a0203;
	padding: 0 0 15px 0;
	font-family: 'Lato_Regular';

}

/* #Grid system
================================================== */
.container{
	width:1170px;
	margin:0 auto;
}
.contain_90{
	width: 90%;
	margin: 0 auto;
}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
}
.container:after, .row:after{
	clear:both;
}
.row{
	margin-left:-10px;
	margin-right:-10px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 2vw 0;
	/*background: #fff;*/
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);*/
}
header .inner_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header .logo {
	width: clamp(200px, 24%, 360px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding: 0;
}
header nav {

}
header nav .ace-responsive-menu > li > a{
	color: #fff;
	text-transform: none;
	padding: 5px;
	margin: 0 1.5vw;
	font-size: clamp(14px, 1.5vw, 20px);
	font-weight: 300;
	line-height: 1;
}
header.smaller {
	top:0;
	background-color: transparent;
	background: #fff;
	padding: 0%;
}
header.smaller .logo {
	width: 120px;
}
header.smaller nav {
	
}

.heading{
	font-size: clamp(40px, 4vw, 80px);
	font-family: 'Operetta_Light';
	color: #fff;
	padding: 0 0 2vw;
	text-align: center;
}
.heading.orange{
	color: var(--orange);
}
.center{
	text-align: center;
}

/*hero*/
.hero{
	position: relative;
}
.hero .text_overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero .text_overlay .inner_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 7vw 0 0 0;
}

.hero .text_overlay .inner_box p{
	color: #fff;
}
section{
	padding: 5vw 0;
}
.swiper-slide{
	width: 40vw;
	min-width: 700px;
	user-select: none;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom: -20px;
}
.coverflow_slider_wrapper{
	padding: 3vw 0 0;
}